* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
html,
body {
  height: 100%;
  width: 100%;
  color: #fff;
}
#main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursor {
  height: 20px;
  width: 20px;
  background-color: #fff ;
  mix-blend-mode: difference;
  border-radius: 50%;
  position: absolute;
  transition: all linear 0.2s;
}
h1 {
  font-size: 8vw;
  font-weight: 900;
  text-transform: uppercase;
}
